/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
	background-image: url('https://lh6.googleusercontent.com/-n4fENz_PL14/V1zq7_8R2EI/AAAAAAAAFcg/FhqKik5tAjMiHUrhny9jp0hsakWQl7TJgCL0B/w309-h533-no/bg.png');
	background-repeat: no-repeat;
    background-size: 100% 100%;
	margin-bottom:20%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}
.header
{
    height: 40px;
    background: #FFF;
    text-align: center;
    width: 100%;
    /* padding: 5px; */
    border: #fff solid 2px;
    color: #924b14;
	position: fixed;
}
.blk_1.outer_blk {
    width: 70px;
    height: 70px;
    background: #fff;
    margin-top: 15%;
    margin-left: 10%;
    border-radius: 38px;
}
.blk_5.outer_blk {
    width: 70px;
    height: 70px;
    background: #fff;
    margin-top: 5%;
    margin-left: 10%;
    border-radius: 38px;
}
.blk_1 p.m_text,.blk_5 p.m_text
{
	margin-top:2px !important;
}
.blk_2.outer_blk{
    width: 90px;
    height: 90px;
    background: #fff;
    margin-top: 5%;
    margin-left: 25%;
    border-radius: 50px;
}
.blk_3.outer_blk{
    width: 110px;
    height: 110px;
    background: #fff;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 65px;
}
.ic_home
{
	margin: 0 auto;
    display: block !important;
    text-align: center;
    color: #c35d15;
    padding-top: 20%;
	font-size: 20px !important;
}
p.abt_p {
    margin: 10px 10px;
    text-align: left;
}
.ab_blk1 img {
    width: 96%;
    margin: 5px 5px;
}
p.m_text {
    margin: 0px;
    color: #000;
    font-size: 15px;
	margin-top:10px;
}
.hexagon {
	width: 110px;
	height: 70px;
	background: #FFF;
	position: relative;
	margin: 0px auto;
}
.hexagon:before {
	content: "";
	position: absolute;
	top: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
	border-bottom: 25px solid #FFF;
}
a
{
	text-decoration:none;
}
.hexagon:after {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
	border-top: 25px solid #FFF;
}
.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
.app_hd {
	text-align: center;
    background-color: #00ADFF;
    padding: 15px;
	margin-top: -5px;
	color:#FFF;
	position:fixed;
	width:100%;
}
.m_header ul{
	padding-left: 10%;
}
.ic_m
{
	color: #E26E62;
}
.box1
{
	width:100%;
	margin:5px 0px;
}
.box_hd
{
	font-size:22px;
	text-align:center;
	color:#FFF;
	margin: 0px;
	padding: 10px;
}
.block_img
{
	margin: 0 auto;
    display: block;
}
.f_box
{
	background: #E26E62;
    padding: 5px;
	padding-top: 55px;
}
.t_box
{
	background:#014082;
	padding: 5px;
}
.blk_txt
{
	font-size:15px;
	color:#FFF;
	text-align:center;
}
.s_box
{
	background:#44610C;
	padding: 5px;
}
.s_box iframe
{
	margin:0 10%;
	margin-bottom:10px;
}
.sidebar_img
{
	position: fixed; 
	right: 10px; 
	top: 10px
}
#sidebar
{
	position: fixed; 
	display: inline-block; 
	top: 0px; 
	height: 100%; 
	width: 200px; 
	left: -200px; 
	background-color: #FFF; 
	transition: all 0.5s ease-in-out;
}
.m_header h3
{
	font-size:20px;
	margin: 0px;
    padding: 10px;
    text-align: center;
	background: rgba(0,0,0,0.8);
    color: #FFF;
	text-transform: capitalize;
}
.m_header li {
    list-style-type: none;
    height: 30px;
    font-size: 18px;
	text-transform: capitalize;
	padding: 10px 5px;
}
.m_header li a {
    text-decoration: none;
    color: #222;
}
.main_container h3
{
	text-align:center;
}
.main_container label {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 15px;
	text-transform: capitalize;
}
.main_container input {
	width: 80%;
    margin: 20px 9%;
    height: 29px;
    display: block;
    border: #FFF solid 1px;
    text-align: left;
    border-top: none;
    border-right: none;
    border-left: none;
    background: none;
}
input#update {
    margin: 15px 10%;
    width: 20px;
}
#message {
    width: 80%;
    margin: 15px 10%;
    height: 180px;
    border: 1px solid #222;
}
.up_label {
    width: 80% !important;
    float: right;
    margin-right: 20px;
    margin-top: 5px;

}
button#sub_btn {
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 80px;
    font-size: 18px;
    padding: 5px;
    border: 1px solid #ffffff;
    background: #ffffff;
    color: #c35d15;
}
.main_container
{
	margin-bottom:20px;
	padding-top: 40px;
	color:#FFF;
}
.s_app
{
	 
}
::-webkit-input-placeholder {
   color: #FFF;
}

:-moz-placeholder { /* Firefox 18- */
   color: #FFF;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #FFF;
}

:-ms-input-placeholder {  
   color: #FFF; 
}
.hm_blk1 img {
    margin: 0 auto;
    display: block;
}
.blk_p
{
	text-align: center;
    font-size: 13px
}
.hm_hr
{
	    margin: 0px 10%;
}